<div class="container">
  <div clsss="row my-3">
    <div class="col-12 text-center">
      <h2 class="pt-1">新規会員登録</h2>

      <%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field py-1">
          名前<br />
          <%= f.text_field :name, autofocus: true %>
        </div>

        <div class="field py-1">
          メールアドレス<br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <div class="field py-1">
          パスワード
          <% if @minimum_password_length %>
          <em>（<%= @minimum_password_length %>文字以上）</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password" %>
        </div>

        <div class="field py-1">
          パスワード（確認）<br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </div>
        <br />
        <div class="actions">
          <%= f.submit "新規会員登録" %>
        </div>
      <% end %>
      <br />
      <%= render "devise/shared/links" %>
      <br />
    </div>
  </div>
</div>