<div class="container">
  <div clsss="row">
    <div class="col-12 my-2">
      <div class="py-2">
        プロフィール画像: <%= attachment_image_tag @user, :image, :fill, 100, 100, fallback: "no_image.jpg", class: "img" %>
      </div>
      <div class="py-2">
        名前: <%= @user.name %>
      </div>
      <div class="py-2">
        自己紹介文: <%= @user.introduction %>
      </div>
      <div class="py-2">
        フォロー：
        <%= link_to followeds_path do %>
          <%= @user.follower_user.count %>
        <% end %>
      </div>
      <div class="py-2">
        フォロワー：
        <%= link_to followers_path do %>
          <%= @user.following_user.count %>
        <% end %>
      </div>
      <div class="py-2">
        <% if user_signed_in? %>
          <% if @user == current_user %>
            <%= link_to "プロフィール編集", edit_user_path, class: "btn btn-success btn-sm" %>
          <% elsif current_user.following?(@user) %>
            <%= link_to 'フォロー外す', user_relationships_path(@user), method: :delete, class: "btn btn-danger btn-sm" %>
          <% else %>
            <%= link_to 'フォロー', user_relationships_path(@user), method: :post, class: "btn btn-primary btn-sm" %>
          <% end %>
        <% end %>
      </div>
      <div class="py-2">
        <% if user_signed_in? %>
          <% unless @user.id == current_user.id %>
            <% if (current_user.following? @user) && (@user.following? current_user) %>
              <% if @room == true %>
                <%= link_to "チャットへ", room_path(@room_id), class: "btn btn-primary btn-sm" %>
              <% else %>
                <%= form_with model: @room_new do |f| %>
                  <%= fields_for @entrie do |e| %>
                    <%= e.hidden_field :user_id, value: @user.id %>
                  <% end %>
                  <%= f.submit "チャットを始める", class:"btn btn-primary btn-sm user-show-chat" %>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      </div>
      <% if user_signed_in? && current_user == @user %>
        <%= link_to new_post_path do %>
          <div class="fas fa-plus h4 plus-botton"></div>
        <% end %>
      <% end %>
      <%= render "posts/index", posts: @posts %>
    </div>
  </div>
</div>