<% entries.each do |entry| %>
  <div class="py-1">
    <%= link_to user_path(entry.user) do %>
      <%= attachment_image_tag entry.user, :image, :fill, 50, 50, fallback: "no_image.jpg", class: "img" %>
    <% end %>
    <%= entry.user.name %>
  </div>
<% end %>
<hr>
<div class="chats">
  <div class="chat">
    <% if messages.present? %>
      <% messages.each do |message| %>
        <% if message.user_id == current_user.id %>
          <div class="current_user">
            <strong class="current_user"><%= message.text %></strong>
            <small class="current_user"><%= message.user.name %></small>
          </div>
        <% else %>
          <div class="another_user">
            <strong class="another_user"><%= message.text %></strong>
            <small class="another_user"><%= message.user.name %></small>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <div class="py-1">
    <%= form_with model:message_new, url: messages_path do |f| %>
      <%= f.text_field :text, placeholder: "メッセージを入力して下さい" , size: 70, class:"form-text-field" %>
      <%= f.hidden_field :user_id, value: current_user.id %>
      <%= f.hidden_field :room_id, value: room.id %>
      <%= f.submit "投稿", class: 'form-submit'%>
    <% end %>
  </div>
</div>