<%= form_with model: @post, url: sort_path, method: :get, local: true do |f| %>
  <%= f.select :keyword, [['新しい投稿順', 'new'], ['古い投稿順', 'old'], ['いいね数が多い順', 'like'], ['いいね数が少ない順', 'dislike'], ['閲覧数が多い順', 'view'], ['閲覧数が少ない順', 'not_view']]%>
  <%= f.submit %>
<% end %>
<% posts.each do |post_one| %>
  <p>
    <%= link_to user_path(post_one.user) do %>
      <%= attachment_image_tag post_one.user, :image, :fill, 100, 100, fallback: "no_image.jpg", class: "img" %>
    <% end %>
  </p>
  <p>
    <%= post_one.user.name %>
  </p>
  <p>
    <%= link_to post_path(post_one) do %>
      <%= attachment_image_tag(post_one, :image, :fill, 200, 300, fallback: "no_image.jpg") %>
    <% end %>
  </p>
  <p>
   <%= post_one.introduction %>
  </p>
  <p>
    <% post_one.tags.each do |tag| %>
      <%= tag.name %>
    <% end %>
  </p>
  <p>
    <%= link_to "#{post_one.comments.count} コメント", post_path(post_one.id) %>
  </p>
  <p>
    <%= link_to "#{post_one.favorits.count} いいね", post_path(post_one.id) %>
  </p>
  <p>
    <%= post_one.impressionist_count %> 閲覧
  </p>
<% end %>
<%= paginate posts %>