<!DOCTYPE html>
<html>
  <head>
    <title>Coordinator</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navber-dark bg-dark">
        <div class="container">
          <%= link_to root_path, class:"no-underline" do %>
            <div class="h1 my-auto text-light">COORDINATOR</div>
          <% end %>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
    　      <% if user_signed_in? %>
              <li>
                <%= link_to "マイページ", user_path(current_user),class: 'fas fa-user nav-link text-light' %>
              </li>
              <li>
                <%= link_to "ユーザー一覧", users_path,class: 'fas fa-users nav-link text-light' %>
              </li>
              <li>
                <%= link_to "投稿一覧", posts_path,class: 'fas fa-paste nav-link text-light' %>

              <li>
                <%= link_to "ログアウト", destroy_user_session_path, method: :delete,class: 'fas fa-sign-out-alt nav-link text-light' %>
              </li>
            <% else %>
              <li>
                <%= link_to "新規登録", new_user_registration_path,class: 'fas fa-user-plus nav-link text-light' %>
              </li>
              <li>
                <%= link_to "ログイン", new_user_session_path,class: 'fas fa-sign-in-alt nav-link text-light' %>
              </li>
              <li>
                <%= link_to "サイト概要", about_path,class: 'fas fa-users nav-link text-light' %>
              </li>
              <li>
                <%= link_to "投稿一覧", posts_path,class: 'fas fa-paste nav-link text-light' %>
              </li>
            <% end %>
            <%= form_with url: search_path, method: :get, local: true do |f| %>
              <%= f.select :range, options_for_select([['ユーザー'], ['タグ']]) %>
              <%= f.text_field :keyword, value: @keyword %>
              <%= f.submit "検索" %>
            <% end %>
          </div>
        </div>
　　　</nav>
    </header>
    <%= yield %>
  </body>
</html>
